.mdl-layout__header{
	height:30%;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    background: url("../assets/Profile pic.jpg") no-repeat;
    background-size:406px 406px	
}

section.section--center.mdl-grid.mdl-grid--no-spacing {
  margin-bottom: 500px;
}